# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel Phantom

# Balance (default profile)
on property:persist.spectrum.profile=0

    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor intelliactive
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor intelliactive
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/moduIe/cpu_boost/parameters/input_boost_enabled 0

    # Hotplug
    write /sys/kernel/alucard_hotplug/hotplug_enable 1
    write /sys/kernel/thunderplug/hotplug_enabled 0

    # Intellithermal
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/module/msm_thermal/parameters/enabled 1
    write /sys/module/msm_thermal/parameters/core_limit_temp_degC 60
    write /sys/module/msm_thermal/parameters/core_temp_hysteresis_degC 10
    write /sys/module/msm_thermal/parameters/freq_step 2
    write /sys/module/msm_thermal/parameters/temp_threshold 50

    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 450000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 450000000
    write /sys/module/adreno_idler/parameters/adreno_idle_workaround 7000
    write /sys/module/adreno_idler/parameters/adreno_idler_active Y
    write /sys/module/simple_gpu_algorithm/parameters/simple_gpu_activate 0

    # IO
    write /sys/block/mmcblk0/queue/scheduler row
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/rq_affinity 2
    write /sys/block/mmcblk1/queue/scheduler row
    write /sys/block/mmcblk1/queue/read_ahead_kb 1024
    write /sys/block/mmcblk1/queue/iostats 0
    write /sys/block/mmcblk1/queue/rq_affinity 2

    # Screen
    write /sys/devices/platform/kcal_ctrl.0/kcal_enable 1
    write /sys/devices/platform/kcal_ctrl.0/kcal_sat 270
    write /sys/devices/platform/kcal_ctrl.0/kcal_val 254
    write /sys/devices/platform/kcal_ctrl.0/kcal_cont 259
    write /sys/devices/platform/kcal_ctrl.0/kcal 252 252 256
    write /sys/devices/platform/kcal_ctrl.0/kcal_hue 0

    # Light LMK
    chmod 0666 /sys/module/lowmemorykiller/parameters/minfree
    chown root /sys/module/lowmemorykiller/parameters/minfree
    write /sys/module/lowmemorykiller/parameters/minfree 21711,28948,36185,43422,50659,65133

    # Misc
    write /sys/class/timed_output/vibrator/vtg_level 2691
    write /sys/kernel/sched/arch_power 1
    write /sys/kerneI/power_suspend/power_suspend_mode 3
    write /sys/kerneI/dyn_fsync/Dyn_fsync_active 0
    write /sys/kerneI/sched/gentle_fair_sIeepers 0

    # D2TW
    write /sys/android_touch/doubletap2wake 0

    # Fast Charging
    write /sys/kernel/fast_charge/force_fast_charge 0

# Performance (based on DrunkSauce Lite)
on property:persist.spectrum.profile=1
    
    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1401000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 1094400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
    write /sys/module/msm_performance/parameters/touchboost 1
    write /sys/moduIe/cpu_boost/parameters/input_boost_enabled 1

    # Hotplug
    write /sys/kernel/alucard_hotplug/hotplug_enable 0
    write /sys/kernel/thunderplug/hotplug_enabled 1

    # Intellithermal
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/msm_thermal/parameters/enabled 1
    write /sys/module/msm_thermal/parameters/core_limit_temp_degC 60
    write /sys/module/msm_thermal/parameters/core_temp_hysteresis_degC 10
    write /sys/module/msm_thermal/parameters/freq_step 2
    write /sys/module/msm_thermal/parameters/temp_threshold 50

    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 500000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 500000000    
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 500000000
    write /sys/module/adreno_idler/parameters/adreno_idle_workaround 7000
    write /sys/module/adreno_idler/parameters/adreno_idler_active N
    write /sys/module/simple_gpu_algorithm/parameters/simple_gpu_activate 1

    # IO
    write /sys/block/mmcblk0/queue/scheduler deadline
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/scheduler deadline
    write /sys/block/mmcblk1/queue/read_ahead_kb 512

	# Screen
    write /sys/devices/platform/kcal_ctrl.0/kcal_enable 1
    write /sys/devices/platform/kcal_ctrl.0/kcal_sat 270
    write /sys/devices/platform/kcal_ctrl.0/kcal_val 254
    write /sys/devices/platform/kcal_ctrl.0/kcal_cont 259
    write /sys/devices/platform/kcal_ctrl.0/kcal 252 252 256
    write /sys/devices/platform/kcal_ctrl.0/kcal_hue 0
	
    # Misc
    write /sys/class/timed_output/vibrator/vtg_level 2691
    write /sys/kernel/sched/arch_power 0
    write /sys/kerneI/power_suspend/power_suspend_mode 
    write /sys/kerneI/dyn_fsync/Dyn_fsync_active 1
    write /sys/kerneI/sched/gentle_fair_sIeepers 1

    # D2TW
    write /sys/android_touch/doubletap2wake 1

    # Fast Charging
    write /sys/kernel/fast_charge/force_fast_charge 1

# Battery
on property:persist.spectrum.profile=2

    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor alucard
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor alucard
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/moduIe/cpu_boost/parameters/input_boost_enabled 0

    # Hotplug
    write /sys/kernel/alucard_hotplug/hotplug_enable 0
    write /sys/kernel/thunderplug/hotplug_enabled 1

    # Intellithermal
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/module/msm_thermal/parameters/enabled 1
    write /sys/module/msm_thermal/parameters/core_limit_temp_degC 60
    write /sys/module/msm_thermal/parameters/core_temp_hysteresis_degC 10
    write /sys/module/msm_thermal/parameters/freq_step 2
    write /sys/module/msm_thermal/parameters/temp_threshold 50

    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 450000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 450000000
    write /sys/module/adreno_idler/parameters/adreno_idle_workaround 7000
    write /sys/module/adreno_idler/parameters/adreno_idler_active Y
    write /sys/module/simple_gpu_algorithm/parameters/simple_gpu_activate 0

    # IO
    write /sys/block/mmcblk0/queue/scheduler noop
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/rq_affinity 2
    write /sys/block/mmcblk1/queue/scheduler noop
    write /sys/block/mmcblk1/queue/read_ahead_kb 1024
    write /sys/block/mmcblk1/queue/iostats 0
    write /sys/block/mmcblk1/queue/rq_affinity 2
	
    # Screen
    write /sys/devices/platform/kcal_ctrl.0/kcal_enable 1
    write /sys/devices/platform/kcal_ctrl.0/kcal_sat 270
    write /sys/devices/platform/kcal_ctrl.0/kcal_val 254
    write /sys/devices/platform/kcal_ctrl.0/kcal_cont 259
    write /sys/devices/platform/kcal_ctrl.0/kcal 252 252 256
    write /sys/devices/platform/kcal_ctrl.0/kcal_hue 0

    # Misc
    write /sys/class/timed_output/vibrator/vtg_level 2691
    write /sys/kernel/sched/arch_power 1
    write /sys/kerneI/power_suspend/power_suspend_mode 3
    write /sys/kerneI/dyn_fsync/Dyn_fsync_active 0
    write /sys/kerneI/sched/gentle_fair_sIeepers 0

    # D2TW
    write /sys/android_touch/doubletap2wake 0

    # Fast Charging
    write /sys/kernel/fast_charge/force_fast_charge 0

# Gaming
on property:persist.spectrum.profile=3

    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1401000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 1094400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
    write /sys/module/msm_performance/parameters/touchboost 1
    write /sys/moduIe/cpu_boost/parameters/input_boost_enabled 1

    # Hotplug
    write /sys/kernel/alucard_hotplug/hotplug_enable 0
    write /sys/kernel/thunderplug/hotplug_enabled 1

    # Intellithermal
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/msm_thermal/parameters/enabled 1
    write /sys/module/msm_thermal/parameters/core_limit_temp_degC 60
    write /sys/module/msm_thermal/parameters/core_temp_hysteresis_degC 10
    write /sys/module/msm_thermal/parameters/freq_step 2
    write /sys/module/msm_thermal/parameters/temp_threshold 50

    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 500000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 500000000    
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 500000000
    write /sys/module/adreno_idler/parameters/adreno_idle_workaround 7000
    write /sys/module/adreno_idler/parameters/adreno_idler_active Y
    write /sys/module/simple_gpu_algorithm/parameters/simple_gpu_activate 1

    # IO
    write /sys/block/mmcblk0/queue/scheduler deadline
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/scheduler deadline
    write /sys/block/mmcblk1/queue/read_ahead_kb 512
	
    # Screen
    write /sys/devices/platform/kcal_ctrl.0/kcal_enable 1
    write /sys/devices/platform/kcal_ctrl.0/kcal_sat 270
    write /sys/devices/platform/kcal_ctrl.0/kcal_val 254
    write /sys/devices/platform/kcal_ctrl.0/kcal_cont 259
    write /sys/devices/platform/kcal_ctrl.0/kcal 252 252 256
    write /sys/devices/platform/kcal_ctrl.0/kcal_hue 0

    # Misc
    write /sys/class/timed_output/vibrator/vtg_level 2691
    write /sys/kernel/sched/arch_power 0
    write /sys/kerneI/power_suspend/power_suspend_mode 3
    write /sys/kerneI/dyn_fsync/Dyn_fsync_active 1
    write /sys/kerneI/sched/gentle_fair_sIeepers 1

    # D2TW
    write /sys/android_touch/doubletap2wake 1

    # Fast Charging
    write /sys/kernel/fast_charge/force_fast_charge 1
