# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   chown system system /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_clock_mhz
   chmod 0664 /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_clock_mhz
   chown system system /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost
   chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost
   chown system system /sys/module/adreno_idler/parameters/adreno_idler_active
   chmod 0664 /sys/module/adreno_idler/parameters/adreno_idler_active
   chown system system /sys/block/mmcblk0/queue/scheduler
   chmod 0664 /sys/block/mmcblk0/queue/scheduler
   chown system system /proc/sys/net/ipv4/tcp_congestion_control
   chmod 0664 /proc/sys/net/ipv4/tcp_congestion_control

   # Set default profile on first boot
    exec u:r:init:s0 root root -- /vendor/bin/init.spectrum.sh
    exec u:r:magisk:s0 root root -- /vendor/bin/init.spectrum.sh
    exec u:r:su:s0 root root -- /vendor/bin/init.spectrum.sh
   
   # Enable Spectrum support
   setprop spectrum.support 1
   
   # Add kernel name
   setprop persist.spectrum.kernel perf

# Balance (default profile)
on property:persist.spectrum.profile=0
		# Configure governor settings for little cluster
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 960000
		 # Configure governor settings for big cluster
		write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
		write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
		write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 768000
		#adreno idler
		write /sys/module/adreno_idler/parameters/adreno_idler_active 0

		#adreno boost
		write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 1

		#GPU
		write /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_clock_mhz 450

		#IO Scheduler
		write /sys/block/mmcblk0/queue/scheduler cfq
		write /sys/block/mmcblk1/queue/scheduler cfq

		#TCP CCA
		write /proc/sys/net/ipv4/tcp_congestion_control bbr

# Performance
on property:persist.spectrum.profile=1
		# Configure governor settings for little cluster
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1094400
		 # Configure governor settings for big cluster
		write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
		write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
		write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 960000
		#adreno idler
		write /sys/module/adreno_idler/parameters/adreno_idler_active 0

		#adreno boost
		write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2

		#GPU
		write /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_clock_mhz 475

		#IO Scheduler
		write /sys/block/mmcblk0/queue/scheduler cfq
		write /sys/block/mmcblk1/queue/scheduler cfq

		#TCP CCA
		write /proc/sys/net/ipv4/tcp_congestion_control bbr

# Battery
on property:persist.spectrum.profile=2
		# Configure governor settings for little cluster
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 960000
		 # Configure governor settings for big cluster
		write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor powersave
		write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
		write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 768000
		#adreno idler
		write /sys/module/adreno_idler/parameters/adreno_idler_active 1

		#adreno boost
		write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0

		#GPU
		write /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_clock_mhz 450

		#IO Scheduler
		write /sys/block/mmcblk0/queue/scheduler cfq
		write /sys/block/mmcblk1/queue/scheduler cfq

		#TCP CCA
		write /proc/sys/net/ipv4/tcp_congestion_control bbr

# Gaming
on property:persist.spectrum.profile=3
		# Configure governor settings for little cluster
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1401000
		 # Configure governor settings for big cluster
		write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor performance
		write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
		write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 1094400
		#adreno idler
		write /sys/module/adreno_idler/parameters/adreno_idler_active 0

		#adreno boost
		write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 3

		#GPU
		write /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_clock_mhz 475

		#IO Scheduler
		write /sys/block/mmcblk0/queue/scheduler zen
		write /sys/block/mmcblk1/queue/scheduler zen

		#TCP CCA
		write /proc/sys/net/ipv4/tcp_congestion_control bbr